<!DOCTYPE html>
<html>
  <head>
   
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <a href="/flights">All flights</a>
    <a href="/flights/new">Add a Flight!</a>
  </body>
</html>
